@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --Cyan: hsl(178, 100%, 50%);
    --Soft-blue: hsl(215, 51%, 70%);
    --body-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}

body{
    /* margin: 0px; */
    background-color: var(--body-BG);
    font-family: 'Outfit', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--card-BG);
    border-radius: 15px;
    padding: 20px;
    width: 300px; 
    height: 550px;  
}

.imagem{
    position:relative
}

.imagem div{
    position: absolute;
    background-color: var(--Cyan);
    top: 0;
    width: 100%;
    height: 99%;
    opacity: 0;
}

.imagem div:hover{
    opacity: 70%;
    border-radius: 10px;
    cursor: pointer;
}

.imagem div img{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.img-equilibrium{
    border-radius: 15px;
    width: 100%;
    height: 100%;
    
}


.card .equilibrium{
margin-top: 20px;
text-align: center;
}

.equilibrium-img{
    box-shadow: rgba(24, 24, 24, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    opacity: 0;
    width: 265px;  
}

.equilibrium-icon{
    opacity: 100%;
    position: absolute;
}

.card .equilibrium{
    width: 260px;
    height: 260px;
    border-radius: 10px;
    background-image: url("../images/image-equilibrium.jpg");
    background-size: cover;
}

.card .equilibrium:hover{
    opacity: 60%;
    background-color: var(--Cyan);
}

.card .equilibrium .equilibrium-img-fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 260px;
    height: 260px;
} 

.card .equilibrium .equilibrium-img-fundo:hover{
    opacity: 60%;
    background-color: var(--Cyan);   
}

.aqua{
    position:absolute;
    left: 106px;
    top: 105px;
}

.aqua{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    top: 6%;
    left: 10%;
    position: absolute;
    opacity: 70%;
    background-color: var(--Cyan);
    width: 230px;
    height: 230px;
}

.description{
    /* margin-top: 20px;
    margin-left: 25px; */
}

.description h2{
    font-size: 1.3em;
    margin-top: 10px;
    color: var(--White);
}

.description h2:hover{
    cursor: pointer;
    color: var(--Cyan);
}

.description h4{
    margin-top: 20px;
    color: var(--Soft-blue);
    font-weight:100;
}

.statistics{
    align-items: center;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.eth-img{
    width: 0.6em;
    margin-left: 25px;
}

.cost-div{
    display: flex;
}

.cost{
    font-size: 0.9em;
    color: var(--Cyan);
}

.eth-img{
    margin-left: -1px;
    margin-right: 5px;
    width: 0.6em;
}

.time-div{
    display: flex;
}

.time{
    font-size: 0.9em;
    font-weight: 300;
    width: 100%;
    color: var(--Soft-blue);
}

.time-img{
    margin-right: 5px;
}

.line{
    margin-top: 25px;
    width: 260px;
    height: 1px;
    background-color: var(--line);
}

.creator{
    margin-top: 20px;
    align-items: center;
    display: flex;
}

.creator img{
    width: 30px;
    border: solid 1px var(--White);
    border-radius: 100%;
}

.creator h3{
    font-weight: 100;
    font-size: 0.9em;
    color: var(--Soft-blue);
    margin-left: 10px;
}

.creator span{
    color: var(--White);
}

.creator span:hover{
    color: var(--Cyan);
    cursor: pointer;
}